name: testing
on:
  - push
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install dependencies
        run: ./setup.sh
      - name: run tests
        run: bal test index
